{{$currentNode := .}}
<div class="docs-menu">
  {{ range .Site.Sections }}
    {{ if eq .Section $currentNode.Section }}
      <a href="{{ .Permalink }}"><h4>{{ .Section | humanize | title }}</h4></a>
    {{ else }}
      <a href="{{ .Permalink }}"><h5>{{ .Section | humanize | title }}</h5></a>
    {{ end }}
    <ul>
      {{ range where .Pages "Section" .Section }}
        {{ if eq .Section $currentNode.Section }}
          <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    <br/>
  {{ end }}
</div>
